.wrapper-tugas10 {
  position: relative;
  margin: auto;
  top: 10px;
  width: 50%;
  margin-bottom: 60px;
}

.table-tugas10 {
  border: 1px solid black;
  width: 100%;
}

.table-tugas10 th{
    background-color: #AAAAAA;
}

.table-tugas10 td{
    background-color: #FF7F50;
}
